{% include 'header.html' %}

{% include 'slider.html' %}

<div class="d-flex flex-row mx-32">
    <div class="text-3xl p-3 width-75   ">Tây Bắc: Hà Nội - Nghĩa Lộ - Tú Lệ - Mù Cang Chải - Sapa - Fansipan - Lai Châu - Điện Biên - Sơn La - Mộc Châu
        Island</div>
    <div class="width-25 text-white d-flex flex-column justify-content-between gap-4">
        <div class="rounded bg-danger p-3">Đặt ngay</div>
        <div class="rounded bg-info p-3">Liên hệ tư vấn</div>
    </div>
</div>

<div class="d-flex mx-32">
    <div class="width-60 p-3">
        <img style="height: 100%;" class="rounded-2xl"
            src="https://media.travel.com.vn/tour/tfd_221212091808_874768.jpg" alt="">
    </div>

    <div class="width-40 d-flex flex-column">
        <div class="d-flex">
            <div class="m-3 width-50">
                <img class="rounded-2xl" style="height: 12rem;width: 100%;"
                    src="https://media.travel.com.vn/tour/tfd_230908012658_257812_dc%20long%20coc.jpg" alt="">
            </div>
            <div class="m-3 width-50">
                <img class="rounded-2xl" style="height: 12rem;width: 100%;"
                    src="https://media.travel.com.vn/tour/tfd_220614045613_483997.jpg" alt="">
            </div>
        </div>

        <div class="p-3 width-100">
            <img class="rounded-2xl" style="height: 17rem;width: 100%;"
                src="https://media.travel.com.vn/tour/tfd_220614045823_403022.jpg" alt="">
        </div>
    </div>
</div>


<div class="d-flex">
    <div class="width-40">
        - Mộc Châu Island – là điểm đến cho những ai yêu trải nghiệm, tìm kiếm không gian bình yên cho tâm hồn, nơi tái tạo cảm xúc. Với tầm nhìn trở thành quần thể nghỉ dưỡng – vui chơi hàng đầu, sở hữu những kỳ quan đồ sộ, Mộc Châu Island mang đến kỳ nghỉ thượng lưu cùng thiên đường giải trí bất tận. - Hoà mình trong không khí nhộn nhịp, đầy màu sắc của không gian văn hoá Tây Bắc với “Nghệ thuật Xòe Thái” được ghi danh vào danh sách Di sản văn hóa phi vật thể đại diện của nhân loại tại Nghĩa Lộ, hay thoả sức check-in tại khu phố Nhật Bản. - Chinh phục ba đại đèo Miền Bắc: Đèo Khau Phạ, Đèo Ô Quy Hồ, Đèo Pha Đin. - Tặng 01 lần vé khứ hồi Tàu hỏa leo núi Mường Hoa lướt qua những cảnh đẹp thiên nhiên kỳ ảo của núi rừng Hoàng Liên Sơn để tới cáp treo Fansipan và tiếp tục chinh phục đỉnh Fansipan cao 3,143 mét.


    </div>
    <div class="width-60">
        - Mộc Châu Island – là điểm đến cho những ai yêu trải nghiệm, tìm kiếm không gian bình yên cho tâm hồn, nơi tái tạo cảm xúc. Với tầm nhìn trở thành quần thể nghỉ dưỡng – vui chơi hàng đầu, sở hữu những kỳ quan đồ sộ, Mộc Châu Island mang đến kỳ nghỉ thượng lưu cùng thiên đường giải trí bất tận. - Hoà mình trong không khí nhộn nhịp, đầy màu sắc của không gian văn hoá Tây Bắc với “Nghệ thuật Xòe Thái” được ghi danh vào danh sách Di sản văn hóa phi vật thể đại diện của nhân loại tại Nghĩa Lộ, hay thoả sức check-in tại khu phố Nhật Bản. - Chinh phục ba đại đèo Miền Bắc: Đèo Khau Phạ, Đèo Ô Quy Hồ, Đèo Pha Đin. - Tặng 01 lần vé khứ hồi Tàu hỏa leo núi Mường Hoa lướt qua những cảnh đẹp thiên nhiên kỳ ảo của núi rừng Hoàng Liên Sơn để tới cáp treo Fansipan và tiếp tục chinh phục đỉnh Fansipan cao 3,143 mét.


    </div>
</div>

{% include 'footer.html' %}