<!-- phần footer -->
<h1 class="footer">Vì Sao chọn ĐÔNG Á TOURIST</h1>
<div class="mot">
    <div class="hai">
        <div class="ba">
            <div class="bon">
                <div class="Tên">
                     Mạng bán tour
                </div>
                <img src="{{ url_for('static', filename='img/fooder1.jpg') }}" alt="">
                <div class="gia">
                    Đầu tiên tại Việt Nam, ứng dụng công nghệ mới nhất để đặt tour du lịch trực tuyến.
                </div>
            </div>
        </div>
        <div class="ba">
            <div class="bon">
                <div class="Tên">
                     Sản Phẩm và dịch vụ 
                </div>
                <img src="{{ url_for('static', filename='img/fooder2.jpg') }}" alt="">
                <div class="gia">
                    Đa dạng - Chất Lượng - An Toàn
                </div>
            </div>
        </div>
        <div class="ba">
            <div class="bon">
                <div class="Tên">
                     Giá cả
                </div>
                <img src="{{ url_for('static', filename='img/fooder3.jpg') }}" alt="">
                <div class="gia">
                    Luôn có mức giá Tốt
                </div>
            </div>
        </div>
        <div class="ba">
            <div class="bon">
                <div class="Tên">
                     Hỗ trợ khách hàng
                </div>
                <img src="{{ url_for('static', filename='img/fooder4.jpg') }}" alt="">
                <div class="gia">
                    Hotline 24/7 - Trực tuyến
                </div>
            </div>
        </div>
        <div class="ba">
            <div class="bon">
                <div class="Tên">
                    Đặt tour du lịch
                </div>
                <img src="{{ url_for('static', filename='img/fooder5.jpg') }}" alt="">
                <div class="gia">
                    Dễ dàng nhanh chóng và tiện lợi
                </div>
            </div>
        </div>
        <div class="ba">
            <div class="bon">
                <div class="Tên">
                    Thanh Toán
                </div>
                <img src="{{ url_for('static', filename='img/fooder6.jpg') }}" alt="">
                <div class="gia">
                    An toàn - Tiện lợi - Đa dạng
                </div>
            </div>
        </div>
    </div>
</div>

<div class="d-flex justify-content-around bg-dark text-white">
    <div class="d-flex flex-column padding-15">
        <div class="font-bold">Về chúng tôi</div>
        <div class="padding-top-5">Giới thiệu</div>
        <div class="padding-top-5">Điều khoản sử dụng</div>
        <div class="padding-top-5">Chính sách bảo mật</div>
        <div class="padding-top-5">Quy chế hoạt động</div>
    </div>
    <div class="d-flex flex-column padding-15">
        <div class="font-bold">Hỗ trợ khách hàng</div>
        <div class="padding-top-5">Hướng dẫn đặt tour</div>
        <div class="padding-top-5">Hướng dẫn thanh toán</div>
        <div class="padding-top-5">Hướng dẫn đăng ký</div>
        <div class="padding-top-5">Hướng dẫn đăng nhập</div>
    </div>
    <div class="d-flex flex-column padding-15">
        <div class="font-bold">Liên hệ</div>
        <div class="padding-top-5">Địa chỉ: 123 Lê Duẩn, Hà Nội</div>
        <div class="padding-top-5">Email: oanhvu1503@gmail.com</div>
        <div class="padding-top-5">Sđt: 09887237361</div>
    </div>
</div>

</body>
</html>