{% include 'header.html' %}

{% include 'slider.html' %}

<div class="d-flex flex-column pt-5">
    <div class="width-100">
        <h1 class="text-center padding-15 text-3xl">Du lịch mùa thu</h1>

        <div class="">
            <ul class="d-flex flex-row flex-wrap">
                <li class="p-10 width-50 d-flex flex-row rounded ">
                    <img class="rounded-2xl" class="rounded-2xl" style="width: 400px; height: 300px;"
                        src="{{ url_for('static', filename='img/langbac11.jpeg') }}" alt="">
                    <div class="padding-10">
                        <div class="padding-bottom-10">Tour du lịch Hà Nội (Lăng Bác - Hoàng thành Thăng Long - Văn
                            Miếu Quốc Tử Giám)</div>
                        <hr>
                        <div class="padding-top-5"><span class="font-bold">Thời gian</span> : Trong ngày</div>
                        <div class="padding-top-5"><span class="font-bold">Phương tiện</span> : Xe du lịch</div>
                        <div class="padding-top-5"><span class="font-bold">Giá</span> : 1.500k</div>
                        <div>
                            <button
                                class="padding-right-15 padding-left-15 padding-top-5 padding-bottom-5 border-0 bg-info text-white birder-radius-5">Chi
                                tiết</button>
                            <button
                                class="padding-right-15 padding-left-15 padding-top-5 padding-bottom-5 border-0 bg-danger text-white birder-radius-5">Đặt
                                tour</button>
                        </div>
                    </div>
                </li>
                <li class=" p-10 width-50 d-flex flex-row rounded">
                    <img class="rounded-2xl" class="rounded-2xl" style="width: 400px; height: 300px;"
                        src="{{ url_for('static', filename='img/ninhbinh1.jpeg') }}" alt="">
                    <div class="padding-10">
                        <div class="padding-bottom-10">Tour du lich Ninh Bình (Bái Đính - Tràng An - Thung Nham -
                            Phố cổ Hoa Lư )</div>
                        <div class="padding-top-5"><span class="font-bold">Thời gian</span> : Trong ngày</div>
                        <div class="padding-top-5"><span class="font-bold">Phương tiện</span> : Xe du lịch</div>
                        <div class="padding-top-5"><span class="font-bold">Giá</span> : 1.000k</div>
                        <div>
                            <a style="padding: 0;" href="http://127.0.0.1:5000/chi_tiet">
                                <button
                                    class="padding-right-15 padding-left-15 padding-top-5 padding-bottom-5 border-0 bg-info text-white birder-radius-5">Chi
                                    tiết</button>
                            </a>
                            <a style="padding: 0;" href="http://127.0.0.1:5000/chi_tiet">
                            <button
                                class="padding-right-15 padding-left-15 padding-top-5 padding-bottom-5 border-0 bg-danger text-white birder-radius-5">Đặt
                                tour</button>
                                </a>
                                
                        </div>
                    </div>

                </li>
            </ul>
        </div>
        <hr>
        <h1 class="text-center padding-15 text-3xl">Hành Trình Khám Phá Kì Quan</h1>
        <div>
            <ul class="d-flex flex-row flex-wrap">
                <li class="p-10 width-50 d-flex flex-row rounded">
                    <img class="rounded-2xl" class="rounded-2xl" style="width: 400px; height: 300px;"
                        src="{{ url_for('static', filename='img/pacbo.jpeg') }}" alt="">
                    <div class="padding-10">
                        <div class="padding-bottom-10">Du Lịch tham quan Hà Nội - Đông Bắc (Cao Bằng - Pác Bó - Thác
                            Bản Giốc)</div>
                        <hr>
                        <div class="padding-top-5"><span class="font-bold">Thời gian</span> : 4 ngày 2 đêm </div>
                        <div class="padding-top-5"><span class="font-bold">Phương tiện</span> : Xe du lịch</div>
                        <div class="padding-top-5"><span class="font-bold">Địa điểm xuất phát</span> : Hà Nội</div>
                        <div class="padding-top-5"><span class="font-bold">Giá</span> : 1.500k</div>
                        <div>
                            <button
                                class="padding-right-15 padding-left-15 padding-top-5 padding-bottom-5 border-0 bg-info text-white birder-radius-5">Chi
                                tiết</button>
                            <button
                                class="padding-right-15 padding-left-15 padding-top-5 padding-bottom-5 border-0 bg-danger text-white birder-radius-5">Đặt
                                tour</button>
                        </div>
                    </div>

                </li>
                <li class="p-10 width-50 d-flex flex-row rounded">
                    <img class="rounded-2xl" class="rounded-2xl" style="width: 400px; height: 300px;"
                        src="{{ url_for('static', filename='img/datlat2.jpg') }}" alt="">
                    <div class="padding-10">
                        <div class="padding-bottom-10">Tour du lich Đà Lạt - Nha Trang (Hành trình Hoa và Biển )
                        </div>
                        <hr>
                        <div class="padding-top-5"><span class="font-bold">Thời gian</span> : 3 ngày 2 đêm </div>
                        <div class="padding-top-5"><span class="font-bold">Phương tiện</span> : Xe du lịch </div>
                        <div class="padding-top-5"><span class="font-bold">Địa điểm xuất phát</span> : Hà Nội</div>
                        <div class="padding-top-5"><span class="font-bold">Giá</span> : 4.500k</div>
                        <div>
                            <button
                                class="padding-right-15 padding-left-15 padding-top-5 padding-bottom-5 border-0 bg-info text-white birder-radius-5">Chi
                                tiết</button>
                            <button
                                class="padding-right-15 padding-left-15 padding-top-5 padding-bottom-5 border-0 bg-danger text-white birder-radius-5">Đặt
                                tour</button>
                        </div>
                    </div>

                </li>
                <li class="mx-10 p-10 width-100 d-flex flex-row rounded">
                    <img class="rounded-2xl" class="rounded-2xl" style="width: 400px; height: 300px;"
                        src="https://baoninhbinh.org.vn/DATA/ARTICLES/2023/9/25/nganh-du-lich-ninh-binh-no-luc-cao-nhat-de-vuot-chi-tieu-b39d4.jpg"
                        alt="">
                    <div class="padding-10">
                        <div class="padding-bottom-10">Du xuân đầu năm (Đền Trần- Nam Định, Tam Chúc - Hà Nam)</div>
                        <hr>
                        <div class="padding-top-5"><span class="font-bold">Thời gian</span> : 2 ngày 1 đêm </div>
                        <div class="padding-top-5"><span class="font-bold">Phương tiện</span> : Xe du lịch </div>
                        <div class="padding-top-5"><span class="font-bold">Giá</span> : 3.500k</div>
                        <div>
                            <button
                                class="padding-right-15 padding-left-15 padding-top-5 padding-bottom-5 border-0 bg-info text-white birder-radius-5">Chi
                                tiết</button>
                            <button
                                class="padding-right-15 padding-left-15 padding-top-5 padding-bottom-5 border-0 bg-danger text-white birder-radius-5">Đặt
                                tour</button>
                        </div>
                    </div>

                </li>
                
            </ul>
        </div>
    </div>
</div>
<h1 class="text-center text-2xl text-gray-600 padding-15">CÁC ĐIỂM ĐẾN YÊU THÍCH</h1>


<div>
    <div class="grid grid-cols-4 gap-12 justify-content-center" style="margin: 2rem 4rem;">
        <div>
            <div>
                <img style="height: 225px;" class="rounded-md" src="https://media.travel.com.vn/destination/dg_200827_HA%20LONG_322052888.jpg" alt="">
            </div>
            <div class="grid grid-rows-2 gap-2">
                <span class="text-xl text-gray-600 mt-2">Hạ Long</span>
                <span class="text-sm text-gray-500">Đã có 10,000 lượt khách</span>
            </div>
        </div>
        <div>
            <div>
                <img style="height: 225px;" class="rounded-md" src="https://media.travel.com.vn/destination/dg_200827_HA%20LONG_322052888.jpg" alt="">
            </div>
            <div class="grid grid-rows-2 gap-2">
                <span class="text-xl text-gray-600 mt-2">Hà Nội</span>
                <span class="text-sm text-gray-500">Đã có 30,000 lượt khách</span>
            </div>
        </div>
        <div>
            <div>
                <img style="height: 225px;" class="rounded-md" src="https://media.travel.com.vn/destination/dg_200827_HA%20LONG_322052888.jpg" alt="">
            </div>
            <div class="grid grid-rows-2 gap-2">
                <span class="text-xl text-gray-600 mt-2">Hà Nội</span>
                <span class="text-sm text-gray-500">Đã có 30,000 lượt khách</span>
            </div>
        </div>
        <div>
            <div>
                <img style="height: 225px;" class="rounded-md" src="https://media.travel.com.vn/destination/dg_200827_HA%20LONG_322052888.jpg" alt="">
            </div>
            <div class="grid grid-rows-2 gap-2">
                <span class="text-xl text-gray-600 mt-2">Hà Nội</span>
                <span class="text-sm text-gray-500">Đã có 30,000 lượt khách</span>
            </div>
        </div>
    </div>
    <div class="grid grid-cols-4 gap-12 justify-content-center" style="margin: 2rem 4rem;">
        {%for i in range(1,5)%}
        <div>
            <div>
                <img style="height: 225px;" class="rounded-md" src="https://media.travel.com.vn/destination/dg_200827_HA%20LONG_322052888.jpg" alt="">
            </div>
            <div class="grid grid-rows-2 gap-2">
                <span class="text-xl text-gray-600 mt-2">Hạ Long</span>
                <span class="text-sm text-gray-500">Đã có 10,000 lượt khách</span>
            </div>
        </div>
        {%endfor%}
    </div>
</div>



{% include 'footer.html' %}