{% include 'header.html' %}

{% include 'slider.html' %}


<h1 class="text-center padding-15 text-3xl">Miền Bắc Tour</h1>
<div>
    <ul class="d-flex flex-row flex-wrap">
        <li class="p-10 width-50 d-flex flex-row rounded">
            <img class="rounded-2xl" style="width: 400px; height: 300px;" src="{{ url_for('static', filename='img/pacbo.jpeg') }}" alt="">
            <div class="padding-10">
                <div class="padding-bottom-10">Du Lịch tham quan Hà Nội - Đông Bắc (Cao Bằng - Pác Bó - Thác
                    Bản Giốc)</div>
                <hr>
                <div class="padding-top-5"><span class="font-bold">Thời gian</span> : 4 ngày 2 đêm </div>
                <div class="padding-top-5"><span class="font-bold">Phương tiện</span> : Xe du lịch</div>
                <div class="padding-top-5"><span class="font-bold">Địa điểm xuất phát</span> : Hà Nội</div>
                <div class="padding-top-5"><span class="font-bold">Giá</span> : 1.500k</div>
                <div>
                    <button
                        class="padding-right-15 padding-left-15 padding-top-5 padding-bottom-5 border-0 bg-info text-white birder-radius-5">Chi
                        tiết</button>
                    <button
                        class="padding-right-15 padding-left-15 padding-top-5 padding-bottom-5 border-0 bg-danger text-white birder-radius-5">Đặt
                        tour</button>
                </div>
            </div>

        </li>
        <li class=" p-10 width-50 d-flex flex-row rounded">
            <img class="rounded-2xl" style="width: 400px; height: 300px;" src="{{ url_for('static', filename='img/datlat2.jpg') }}" alt="">
            <div class="padding-10">
                <div class="padding-bottom-10">Tour du lich Đà Lạt - Nha Trang (Hành trình Hoa và Biển )
                </div>
                <hr>
                <div class="padding-top-5"><span class="font-bold">Thời gian</span> : 3 ngày 2 đêm </div>
                <div class="padding-top-5"><span class="font-bold">Phương tiện</span> : Xe du lịch </div>
                <div class="padding-top-5"><span class="font-bold">Địa điểm xuất phát</span> : Hà Nội</div>
                <div class="padding-top-5"><span class="font-bold">Giá</span> : 4.500k</div>
                <div>
                    <button
                        class="padding-right-15 padding-left-15 padding-top-5 padding-bottom-5 border-0 bg-info text-white birder-radius-5">Chi
                        tiết</button>
                    <button
                        class="padding-right-15 padding-left-15 padding-top-5 padding-bottom-5 border-0 bg-danger text-white birder-radius-5">Đặt
                        tour</button>
                </div>
            </div>

        </li>
        <li class=" p-10 width-50 d-flex flex-row rounded">
            <img class="rounded-2xl" style="width: 400px; height: 300px;" src="{{ url_for('static', filename='img/datlat2.jpg') }}" alt="">
            <div class="padding-10">
                <div class="padding-bottom-10">Tour du lich Đà Lạt - Nha Trang (Hành trình Hoa và Biển )
                </div>
                <hr>
                <div class="padding-top-5"><span class="font-bold">Thời gian</span> : 3 ngày 2 đêm </div>
                <div class="padding-top-5"><span class="font-bold">Phương tiện</span> : Xe du lịch </div>
                <div class="padding-top-5"><span class="font-bold">Địa điểm xuất phát</span> : Hà Nội</div>
                <div class="padding-top-5"><span class="font-bold">Giá</span> : 4.500k</div>
                <div>
                    <button
                        class="padding-right-15 padding-left-15 padding-top-5 padding-bottom-5 border-0 bg-info text-white birder-radius-5">Chi
                        tiết</button>
                    <button
                        class="padding-right-15 padding-left-15 padding-top-5 padding-bottom-5 border-0 bg-danger text-white birder-radius-5">Đặt
                        tour</button>
                </div>
            </div>

        </li>
        <li class="width-50 p-10 d-flex flex-row rounded">
            <img class="rounded-2xl" style="width: 400px; height: 300px;"
                src="https://baoninhbinh.org.vn/DATA/ARTICLES/2023/9/25/nganh-du-lich-ninh-binh-no-luc-cao-nhat-de-vuot-chi-tieu-b39d4.jpg"
                alt="">
            <div class="padding-10">
                <div class="padding-bottom-10">Du xuân đầu năm (Đền Trần- Nam Định, Tam Chúc - Hà Nam)</div>
                <hr>
                <div class="padding-top-5"><span class="font-bold">Thời gian</span> : 2 ngày 1 đêm </div>
                <div class="padding-top-5"><span class="font-bold">Phương tiện</span> : Xe du lịch </div>
                <div class="padding-top-5"><span class="font-bold">Giá</span> : 3.500k</div>
                <div>
                    <button
                        class="padding-right-15 padding-left-15 padding-top-5 padding-bottom-5 border-0 bg-info text-white birder-radius-5">Chi
                        tiết</button>
                    <button
                        class="padding-right-15 padding-left-15 padding-top-5 padding-bottom-5 border-0 bg-danger text-white birder-radius-5">Đặt
                        tour</button>
                </div>
            </div>

        </li>
    </ul>
</div>

{% include 'footer.html' %}