{% include 'header.html' %}

{% include 'slider.html' %}


<h1 class="text-center padding-15 text-3xl">Miền Bắc Tour</h1>
<div>
    <ul class="d-flex flex-row flex-wrap">
        <li class="p-10 width-50 d-flex flex-row rounded">
            <img class="rounded-2xl" style="width: 400px; height: 300px;" src="{{ url_for('static', filename='img/tamchuc.jpg') }}" alt="">
            <div class="padding-10">
                <div class="padding-bottom-10">HẢI PHONG - HÀ NAM ( Du lịch Hải Phòng - Chùa Tam Chúc - Chùa Địa Tạng Phi Hà Nam)</div>
                <hr>
                <div class="padding-top-5"><span class="font-bold">Thời gian</span> : 1 ngày 1 đêm </div>
                <div class="padding-top-5"><span class="font-bold">Phương tiện</span> : Xe du lịch</div>
                <div class="padding-top-5"><span class="font-bold">Địa điểm xuất phát</span> : Hà Nam</div>
                <div class="padding-top-5"><span class="font-bold">Giá</span> : 1.700k</div>
                <div>
                    <button
                        class="padding-right-15 padding-left-15 padding-top-5 padding-bottom-5 border-0 bg-info text-white birder-radius-5">Chi
                        tiết</button>
                    <button
                        class="padding-right-15 padding-left-15 padding-top-5 padding-bottom-5 border-0 bg-danger text-white birder-radius-5">Đặt
                        tour</button>
                </div>
            </div>

        </li>
        <li class=" p-10 width-50 d-flex flex-row rounded">
            <img class="rounded-2xl" style="width: 400px; height: 300px;" src="{{ url_for('static', filename='img/sapa.jpg') }}" alt="">
            <div class="padding-10">
                <div class="padding-bottom-10">DU LỊCH HÀ NỘI - SAPA - FANSIPAN - NINH BÌNH(Vườn quốc gia cúc phương)
                </div>
                <hr>
                <div class="padding-top-5"><span class="font-bold">Thời gian</span> : 3 ngày 2 đêm </div>
                <div class="padding-top-5"><span class="font-bold">Phương tiện</span> : Xe du lịch </div>
                <div class="padding-top-5"><span class="font-bold">Địa điểm xuất phát</span> : Hà Nội</div>
                <div class="padding-top-5"><span class="font-bold">Giá</span> : 4.500k</div>
                <div>
                    <button
                        class="padding-right-15 padding-left-15 padding-top-5 padding-bottom-5 border-0 bg-info text-white birder-radius-5">Chi
                        tiết</button>
                    <button
                        class="padding-right-15 padding-left-15 padding-top-5 padding-bottom-5 border-0 bg-danger text-white birder-radius-5">Đặt
                        tour</button>
                </div>
            </div>

        </li>
        <li class=" p-10 width-50 d-flex flex-row rounded">
            <img class="rounded-2xl" style="width: 400px; height: 300px;" src="{{ url_for('static', filename='img/Hagiang.jpg') }}" alt="">
            <div class="padding-10">
                <div class="padding-bottom-10">YÊN BÁI - HÀ GIANG( Du lịch Yên Bái - Hà Giang - Đồng Văn - Mèo Vạc - Lũng Cú - Bắc Mê - Hà Giang - Yên Bái)
                </div>
                <hr>
                <div class="padding-top-5"><span class="font-bold">Thời gian</span> : 3 ngày 2 đêm </div>
                <div class="padding-top-5"><span class="font-bold">Phương tiện</span> : Xe du lịch </div>
                <div class="padding-top-5"><span class="font-bold">Địa điểm xuất phát</span> : Hà Nội</div>
                <div class="padding-top-5"><span class="font-bold">Giá</span> : 9.500k</div>
                <div>
                    <button
                        class="padding-right-15 padding-left-15 padding-top-5 padding-bottom-5 border-0 bg-info text-white birder-radius-5">Chi
                        tiết</button>
                    <button
                        class="padding-right-15 padding-left-15 padding-top-5 padding-bottom-5 border-0 bg-danger text-white birder-radius-5">Đặt
                        tour</button>
                </div>
            </div>

        </li>
        <li class="width-50 p-10 d-flex flex-row rounded">
            <img class="rounded-2xl" style="width: 400px; height: 300px;"
                src="{{ url_for('static', filename='img/langgson.jpg') }}"
                alt="">
            <div class="padding-10">
                <div class="padding-bottom-10">Tour du lịch Lạng Sơn - Mẫu Sơn - Bình Liêu - Móng Cái - Biển Trà Cổ - Hạ Long - Yên Tử - Hà Nội</div>
                <hr>
                <div class="padding-top-5"><span class="font-bold">Thời gian</span> : 4 ngày 3 đêm </div>
                <div class="padding-top-5"><span class="font-bold">Phương tiện</span> : Xe du lịch </div>
                <div class="padding-top-5"><span class="font-bold">Địa điểm xuất phát</span> : Hà Nội</div>
                <div class="padding-top-5"><span class="font-bold">Giá</span> : 7.500k</div>
                <div>
                    <button
                        class="padding-right-15 padding-left-15 padding-top-5 padding-bottom-5 border-0 bg-info text-white birder-radius-5">Chi
                        tiết</button>
                    <button
                        class="padding-right-15 padding-left-15 padding-top-5 padding-bottom-5 border-0 bg-danger text-white birder-radius-5">Đặt
                        tour</button>
                </div>
            </div>

        </li>
    </ul>
</div>

{% include 'footer.html' %}